<div class="card bg-base-100 shadow-sm animate-fadeIn">
    <figure>
       <img
        [ngSrc]="product().images | productImage"
        ngSrcset="200w, 400w, 800w"
        sizes="(max-width: 768px) 50vw, 200px"
        width="200"
        height="200"
        [alt]="product().title"
    />
    </figure>
    <div class="card-body">
        <h2 
        [routerLink]="['/product',product().slug]"
        class="card-title font-montserrat text-accent text-xl hover:underline cursor-pointer">
            {{product().title}}
        </h2>
        <p> {{product().description | slice:0:70}}...</p>
        <div class="card-actions justify-end">

            <a class="link-accent" [routerLink]="['/product',product().slug]">
                Ver producto
            </a>
        </div>
    </div>
</div>