<h1 class="text-3xl font-montserrat font-bold">Todos los productos</h1>
<h2 class="text-xl mb-5">Para {{gender() |i18nSelect:genderMap}} </h2>



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">

  @if (productRx.hasValue() ) {

  @for (product of productRx.value()?.data; track $index) {
  <product-card [product]="product" />
  }
  }@else {
  <p>No hay productos</p>
  }


</div>
<!-- <pagination [pages]="productRx.value()?.pages ?? 0" [currentPage]="paginationService.currentPage()" /> -->
